<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eggo_project">


    <!-- 인터넷 권한 선언-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Eggo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinActivity"/>
        <activity android:name=".FindActivity"/>
        <activity android:name=".FindIdActivity"/>
        <activity android:name=".FindPwActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".ModifyActivity"/>
        <activity android:name=".RegistrationActivity"/>
        <activity android:name=".PredictionActivity"/>
        <activity android:name=".InquiryActivity"/>
        <activity android:name=".EggoaiActivity"/>
        <activity android:name=".EnergyActivity"/>
        <meta-data android:name="android.max_aspect" android:value="2.1" />


    </application>

</manifest>